data/metrics
data/prompts
data/questions

data/debates/chroma/manifestoberta
data/manifestos/chroma/manifestoberta

data/debates/*.csv
data/manifestos/*.csv

data_scraping/
EDA

RAG/evaluation
RAG/local_tests
RAG/scripts

.env
.venv
.github/*
.pytest_cache
.ruff_cache

*/.DS_Store